<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDL39Cc43ppdzid_v2gN8lTX5sIN5zxYyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1079460566206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qualwebs.MusicApp</string>
	<key>PROJECT_ID</key>
	<string>my-music-c7688</string>
	<key>STORAGE_BUCKET</key>
	<string>my-music-c7688.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079460566206:ios:18ce4abaa8e74ebe447aef</string>
</dict>
</plist>
